<html>
    <head>
        <title>{{title}}</title>
        {{>jscssincluds}}
        <style>
            p.headingfont{
                font-family: miama, cursive;
            }
        </style>
        <link rel="icon" href="/images/home.png" sizes="16x16">
    </head>
    <body>
    {{>navmenu}}