
    <div class="container">
        <div class="row">
            <div class="col-mid-12">
                    <p class="headingfont"> {{heading}} </p>
                    <div class="asdasfsdfsd">
                        {{#each imagecount}}
                            <div class='thumbnail'>
                                <img src="/images/{{../title}}/image_{{this}}.jpg" style="width:500px;"/>
                            </div>
                        {{/each}}
                    </div>
            </div>
        </div>
    </div>
